.App {
  width: 100%;
  min-height: 100vh;
  background: salmon;
  position: relative;

  text-align: center;
}

.App h1 {
  font-weight: 700;
  padding: 1rem;
  transform: translateY(25vh);
  color: #7af7b4;

  background: -webkit-linear-gradient(0deg, #7af7b4, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 2px 2px 2px #33333338;
}
