.App {
  width: 100%;
  min-height: 100vh;
  background: salmon;
  position: relative;

  text-align: center;
}

.App h1 {
  font-weight: 700;
  padding: 1rem;
  transform: translateY(25vh);
  color: #7af7b4;
  text-shadow: 2px 2px 2px #33333338;
}
